<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper no-print">
      <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;">
        <div style="max-width: 20em; margin-right: 5px; padding: 5px;">
          {{- site.description | escape -}}
        </div>
        <div style="padding: 5px;">
          {%- include social.html -%}
        </div>
      </div>
    </div>
  </div>
</footer>
