---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

  {%- if site.twitter_username and site.show_twitter_feed -%}
    <a data-chrome="noheader, noscrollbar, nofooter, noborders" data-tweet-limit="3" data-dnt="true" class="twitter-timeline" href="https://twitter.com/ronenagranat?ref_src=twsrc%5Etfw">
      Tweets
    </a>
    <center>
      <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">Load more tweets</a>
    </center>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  {%- endif -%}

</div>
