---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2>Blog posts</h2>
    <div style="display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: wrap;" class="post-list">
      {%- for post in site.posts -%}
      <a href="{{ post.url | relative_url }}">
        <div style="border: #f0f0f0 solid 1px; margin: 5px; max-width: 150px; min-height: 220px; border-radius: 3px;">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- if post.image -%}
            <div style="padding:0;margin:0; text-align: center;">
              <img src="{{ post.image | relative_url }}" style="border-radius: 3px; max-width: 150px; margin: auto;" />
            </div>
          {%- endif -%}
          <div style="padding: 7px">
            <h3>
              {{ post.title | escape }}
            </h3>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </div>
        </div>
      </a>
      {%- endfor -%}
    </div>

  {%- endif -%}

  {%- if site.twitter_username and site.show_twitter_feed -%}
  <h2>Twitter feed</h2>
  <center>
  <a data-chrome="noheader, noscrollbar, nofooter, noborders" data-tweet-limit="3" data-dnt="true" class="twitter-timeline" href="https://twitter.com/{{ site.twitter_username }}">
      Tweets
    </a>
    <center>
      <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">Load more tweets</a>
    </center>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </center>
  {%- endif -%}

</div>
