---
layout: default
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h1>Blog posts</h1>
    <div class="post-list">
      {%- for post in site.posts -%}
      <a href="{{ post.url | relative_url }}">
        <div style="margin: 5px; border-radius: 3px; display: flex; border-bottom: rgb(248, 248, 248) solid 1px; padding: 10px;">
          {%- assign date_format = site.minima.date_format -%}
          <div style="padding:0;margin:0; text-align: center; display: block; min-width: 110px; width: 110px; max-height: 150px;">
            <img src="{{ post.image | relative_url }}" style="border-radius: 3px; margin: auto; max-height: 100%; max-width: 100%; vertical-align: middle;
            " />
          </div>
          <div style="display: block; padding: 7px; margin-left: 7px; display: flex; flex-direction:column; justify-content: center">
            <div>
              <strong style='font-size: 12pt;'>
                {{ post.title | escape }}
              </strong>
            </div>
            <div style='font-size: 9pt;'>
              <span class="post-meta">{{ post.date | date: date_format }}</span>
            </div>
          </div>
        </div>
      </a>
      {%- endfor -%}
    </div>

  {%- endif -%}

  {%- if site.twitter_username and site.show_twitter_feed -%}
  <h2>Twitter feed</h2>
  <center>
  <a data-chrome="noheader, noscrollbar, nofooter, noborders" data-tweet-limit="3" data-dnt="true" class="twitter-timeline" href="https://twitter.com/{{ site.twitter_username }}">
      Tweets
    </a>
    <center>
      <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">Load more tweets</a>
    </center>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </center>
  {%- endif -%}

</div>
